[user]
	name = youkun.yk
	email = youkun.yk@alibaba-inc.com
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	ft = fetch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	sm = submodule 
	sf = submodule foreach --recursive
[credential]
	helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rebase]
	autoStash = true
[pull]
	rebase = true
